<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>轨迹回放</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <style>
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .input-card .btn{
            margin-right: 1.2rem;
            width: 9rem;
        }

        .input-card .btn:last-child{
            margin-right: 0;
        }
    </style>
</head>
<body>
<div id="container"></div>
<div class="input-card">
    <h4>轨迹回放控制</h4>
    <div class="input-item">
        <input type="button" class="btn" value="开始动画" id="start" onclick="startAnimation()"/>
        <input type="button" class="btn" value="暂停动画" id="pause" onclick="pauseAnimation()"/>
    </div>
    <div class="input-item">
        <input type="button" class="btn" value="继续动画" id="resume" onclick="resumeAnimation()"/>
        <input type="button" class="btn" value="停止动画" id="stop" onclick="stopAnimation()"/>
    </div>
</div>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=liqiyuWorks"></script>
<script>
    // var marker, lineArr = [
    //     [116.478935,39.997761],
    //     [116.478939,39.997825],
    //     [116.478912,39.998549],
    //     [116.478912,39.998549],
    //     [116.478998,39.998555],
    //     [116.478998,39.998555],
    //     [116.479282,39.99856]
    //     ]

    var marker;
    var lineArr = {{data}};
    console.log('开始打印数据')
    // console.log(marker)
    console.log(lineArr)


    var map = new AMap.Map("container", {
        resizeEnable: true,
        center: {{center}},
        zoom: 17
    });

    marker = new AMap.Marker({
        map: map,
        position: {{center}},
        icon: "https://webapi.amap.com/images/car.png",
        // icon: "https://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E8%B5%B0%E8%B7%AF%E7%AE%80%E7%AC%94%E7%94%BB&step_word=&hs=2&pn=51&spn=0&di=90750&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&istype=2&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=-1&cs=2336060426%2C2803434946&os=1626425652%2C1759062269&simid=0%2C0&adpicid=0&lpn=0&ln=776&fr=&fmq=1603268348966_R&fm=result&ic=&s=undefined&hd=&latest=&copyright=&se=&sme=&tab=0&width=&height=&face=undefined&ist=&jit=&cg=&bdtype=0&oriquery=&objurl=http%3A%2F%2Fimg.jf258.com%2Fi%2F2a3122879904x1515413352b27.jpg&fromurl=ippr_z2C%24qAzdH3FAzdH3Fooo_z%26e3B3udcb_z%26e3Bv54AzdH3Fpw2AzdH3F%25Ec%25Ba%25bF%25E9%25BA%25BA%25Eb%25Bc%25Ba%25Eb%25B0%25AF%25E0%25AE%25ba%25E0%25AC%25l9%25E0%25l9%25BB2tuAzdH3F&gsm=34&rpstart=0&rpnum=0&islist=&querylist=&force=undefined",
        offset: new AMap.Pixel(-26, -13),
        autoRotation: true,
        angle:-90,
    });

    // 绘制轨迹
    var polyline = new AMap.Polyline({
        map: map,
        path: lineArr,
        showDir:true,
        strokeColor: "#28F",  //线颜色
        // strokeOpacity: 1,     //线透明度
        strokeWeight: 6,      //线宽
        // strokeStyle: "solid"  //线样式
    });

    var passedPolyline = new AMap.Polyline({
        map: map,
        // path: lineArr,
        strokeColor: "#AF5",  //线颜色
        // strokeOpacity: 1,     //线透明度
        strokeWeight: 6,      //线宽
        // strokeStyle: "solid"  //线样式
    });


    marker.on('moving', function (e) {
        passedPolyline.setPath(e.passedPath);
    });

    map.setFitView();

    function startAnimation () {
        marker.moveAlong(lineArr, 200);
    }

    function pauseAnimation () {
        marker.pauseMove();
    }

    function resumeAnimation () {
        marker.resumeMove();
    }

    function stopAnimation () {
        marker.stopMove();
    }
</script>
</body>
</html>